.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin-top: 100px;
  padding: 0 40px;
  align-items: center;
}

.insideContainer {
  max-width: 1366px;
  width: 100%;
}
